{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    <nav>
      <ul>
        <li><h6>MyApp</h6></li>
        <li><input type='text' placeholder='search' /></li>
      </ul>
    </nav>

    <main>
      <aside>
        <h3>sidebar</h3>
      </aside>

      <section class='articles'>
        <article>
          <header>
            <ul>
              <li>Published: <span>November 15th, 2015</span></li>
              <li>Author: <span>Wes Reid</span></li>
              <li>Filed Under:
                <span class='tag'>Web Development</span>
                <span class='tag'>Design</span>
              </li>
            </ul>
          </header>

          <section>
            <div class="article-image">
              <img src='http://placekitten.com/g/1100/600' alt='my article'/>  
            </div>
            
            <h2>Post Title</h2>
            <p>Lorem ipsum Minim adipisicing et proident eiusmod culpa magna nisi eu nostrud aliquip in dolore commodo sit reprehenderit magna aliqua labore ex Excepteur Duis. Lorem ipsum Dolore dolore qui in ut incididunt magna sit incididunt aliqua do sed dolor mollit commodo ullamco enim magna elit qui.</p>
          </section>
          <aside>
            <ul>
              <li>Comments: <span>5</span></li>
              <li>Likes: <span>10</span></li>
            </ul>
          </aside>
        </article>

        <article>
          <header>
            <ul>
              <li>Published: <span>November 15th, 2015</span></li>
              <li>Author: <span>Wes Reid</span></li>
              <li>Filed Under:
                <span class='tag'>Web Development</span>
                <span class='tag'>Docker</span>
                <span class='tag'>Gulp</span>
              </li>
            </ul>
          </header>

          <section>
            <div class="article-image">
              <img src='http://placekitten.com/g/1100/600' alt='my article'/>  
            </div>
            
            <h2>Post Title</h2>
            <p>Lorem ipsum Minim adipisicing et proident eiusmod culpa magna nisi eu nostrud aliquip in dolore commodo sit reprehenderit magna aliqua labore ex Excepteur Duis. Lorem ipsum Dolore labore deserunt reprehenderit proident aliqua reprehenderit non qui voluptate dolor Ut in Ut laborum adipisicing adipisicing veniam velit eu nulla ut cupidatat aliquip nostrud in nulla sit occaecat enim consectetur adipisicing laboris proident enim aliquip reprehenderit dolore nostrud labore.</p>
          </section>
          <aside>
            <ul>
              <li>Comments: <span>5</span></li>
              <li>Likes: <span>10</span></li>
            </ul>
          </aside>
        </article>

        <article>
          <header>
            <ul>
              <li>Published: <span>November 15th, 2015</span></li>
              <li>Author: <span>Wes Reid</span></li>
              <li>Filed Under:
                <span class='tag'>InDesign</span>
                <span class='tag'>Photoshop</span>
                <span class='tag'>Photo Manipulation</span>
              </li>
            </ul>
          </header>

          <section>
            <div class="article-image">
              <img src='http://placekitten.com/g/1100/600' alt='my article'/>  
            </div>
            
            <h2>Post Title</h2>
            <p>Lorem ipsum Minim adipisicing et proident eiusmod culpa magna nisi eu nostrud aliquip in dolore commodo sit reprehenderit magna aliqua labore ex Excepteur Duis. Lorem ipsum Anim culpa est dolore laboris eiusmod do laborum mollit velit Ut cillum in elit deserunt aute id consectetur occaecat dolore mollit ullamco nostrud amet.</p>
          </section>
          <aside>
            <ul>
              <li>Comments: <span>5</span></li>
              <li>Likes: <span>10</span></li>
            </ul>
          </aside>
        </article>

        <article>
          <header>
            <ul>
              <li>Published: <span>November 15th, 2015</span></li>
              <li>Author: <span>Wes Reid</span></li>
              <li>Filed Under:
                <span class='tag'>Bourbon</span>
                <span class='tag'>Sass</span>
              </li>
            </ul>
          </header>

          <section>
            <div class="article-image">
              <img src='http://placekitten.com/g/1100/600' alt='my article'/>  
            </div>
            
            <h2>Post Title</h2>
            <p>Lorem ipsum Minim adipisicing et proident eiusmod culpa magna nisi eu nostrud aliquip in dolore commodo sit reprehenderit magna aliqua labore ex Excepteur Duis. Lorem ipsum Non cupidatat velit anim elit tempor sed ullamco incididunt labore minim ad ad amet minim adipisicing ut proident amet in laborum qui quis sit dolor do tempor ex dolore veniam voluptate nisi do ex.</p>
          </section>
          <aside>
            <ul>
              <li>Comments: <span>5</span></li>
              <li>Likes: <span>10</span></li>
            </ul>
          </aside>
        </article>
      </section>
    </main>

    <footer>
      Copyright MyApp.
    </footer>
  </div>

{% endblock %}