{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    <!--
      Create a layout that includes:
        1. A navbar that spans the whole page.
        2. A left-hand sidebar.
        3. A main content area with three columns.
        4. A footer that spans the whole page with
           two sections (e.g. Contact Form / General Links).
    -->

    <div class="sidebar">
      <span>left</span>
    </div>
    <div class="content">
      <span>right</span>
    </div>

  </div>

{% endblock %}
