// Add your sass to this file! Try:
// 1. Importing bourbon from the vendor file.
// 2. Creating a gradient background on the index page.
// 3. Creating a list on index.html; change the styles so that
//    the list is inline and centered.
// 4. Adding some headings to each of the <li> tags and change
//    the colors using tint and shade.
// 5. Trying some of the other bourbon tools! Animation/keyframes,
//    triangle, ellipsis